body {
    background-color: #051c3d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    max-width: 70%;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main#data {
    opacity: 0;
}

#data p {
    margin: 0 0 5px 0;
    font-weight: bold;
    color: black;
}

#data ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#data li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 2px 0;
}

#data button {
    padding: 2px 6px;
    font-size: 12px;
    border: none;
    background-color: #d9534f;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

#data button:hover {
    background-color: #c9302c;
}


#userCountFilter {
    margin-right: 20px;
    padding: 8px 12px;
    font-size: 16px;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#userCountFilter:hover {
    background-color: #e0e0e0;
    border-color: #aaa;
}

.date-box {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
